body{
    margin: 0 auto;
    background-color: #2d5551;

}

#hero-image{
    width: 1200px;
    height: 690px;
    padding-top: 25px;
}

.overlay{
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 75px;
}

#home-hero h1{
  font-family: helvetica;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: bold;
}

img {
  max-width: 100%;
}

#home-hero h2{
    z-index: 9999999;
}
.container h2{
    border-radius: 0px 0px 20px 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

#home-hero{
    height: 500px;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}

.container{
    width: 1000px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    background-color: white;
    padding-top: 45px;
}

.row{
    display: flex;
}

.col{
    padding: 15px;
    width: 100%;
    margin: 0;
}

.w-20{
    width: 20%;
}

.w-50{
    width: 50%;
}

.h-100{
    height: 400px;
}

.img-fluid-index{
    display: block;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

#certifications{
    list-style: none;
    font-family: helvetica;
}

.work-with-us{
  border: 5px solid #E8E8E8;
  margin: 30px;
}

.button{
    background-color: #594c47;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-top: 3px;
    font-family: helvetica;
}

.text{
  width: 90%;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;
  text-align: left;
}

#index-text{
  margin-left: 30px;
  width: 115%;
}

ul{
    margin: 0;
}

.container h1{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
}

.container footer{
  background-color: #E8E8E8;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer ul{
  list-style: none;
  text-align: left;
  display: block;
}

footer h4{
  text-align: left;
  padding-left: 40px;
}

footer img{
  height: 75px;
  position: relative;
  bottom: 25px;
}

footer .row{
  padding: 0;
}

footer .col{
  padding: 0;
}
